/*
	Comment
*/

* {
    font-family: Tahoma;
    
    color: #F061D2;
    
    margin-left: auto;
    margin-right: auto;
    min-width: 50%;
}

body {
    background-image: repeating-radial-gradient(#F061D2, #D2F061 10%, #61D2F0 15%);
    background-color: #cccccc;
}

h1 {
    text-align: center;
}

h2 {
    width: 78%;
}

h3 {
    width: 76%;
}

a {
    color: #D2F061; 
    font-size: 100%;
}

.list-link {
    font-size: 100%;
    
    background-color: #F061D2;
    
    width: 80%;
}

.LinkInP {
    background-color: #000000;
}

li {
    color: #D2F061; 
    font-size: 100%;
    
    background-color: #F061D2;
    
    width: 75%;
}

ul {
    background-color: #F061D2;
    
    width: 75%;
    padding: 4px;
}

p {
    border-width: 2px;
    border: dashed;
    
    color: #F061D2;
    
    padding: 2px;
    width: 85%;
    
    border-color: #61D2F0;
    
    font-size: 100%;
}

img {
    background-color: #F061D2;
    min-width: 0%;
    margin-right: 5%;
    
    border-width: 2px;
    padding: 5px;
    border: solid;
    border-color: #61D2F0;
}