
div {
    display:flex;
    flex-grow:1;
}
.bigbox {
    height:500px;
    width:500px;
    flex-direction: column;
    background-color: black;
    padding:5px;
}
divl {
    flex-direction: row;
    background-color: white;
    flex-grow: 1;
    padding:2px;
    border:2px;
    border-color: grey;
}